.contactInfo{
    margin: 0 auto;
    max-width: 400px;
    padding-top: 100px;
}

.contactInfo h1{
    margin-top: 0;
    color: #ffffffba;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.contactInfo p{
    margin-top: 0;
    color: #ffffffba;
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}

.contactInfo footer{
    margin-top: 40px;
    color: #ffffffdc;
    font-size: 17px;
    text-align: center;
    padding-top: 50px;
}

.icons{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    background-color: rgb(3 5 16 / 68%);
    border-radius: 50%;
}

.iconSVG {
    width: 3rem;
    height: 3rem;
    color: #ffffffd9;
}

.iconSVG:hover {
    color:#f0b136d1;
}

@media screen and (max-width: 922px) {

    .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .iconSVG {
        width: 2rem;
        height: 2rem;
        color: #ffffffd9;
    }

    .contactInfo{
        margin: 0 auto;
        max-width: 300px;
        padding-top: 80px;
    }

    .contactInfo footer{
        color: #ffffffdc;
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
    }

}


