.header {
   background-color: transparent;
       position: fixed;
    left: 0;
    right: 0;
    background: #131315;
    z-index: 4;
}

.nav{
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 0 auto;
   
}

.navlist{
    display: flex;
    list-style: none;
    
}

.navlist button {
    padding: 20px;
    display: block;
    color: white;
    background: none;
    border: 0;
    margin: 0 10px;
}