.header {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    background: #000000;
    z-index: 4;
}

.nav{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
   
}

.navlist{
    display: flex;
    list-style: none;
    
}

.navlist button {
    cursor: pointer;
    padding: 20px;
    display: block;
    color: white;
    background: none;
    border: 0;
    margin: 0 10px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.navlist button:hover {
    color: #f0b136d1;
}



@media screen and (max-width: 600px) {

    .header nav{
      justify-content: center;
    }

    .navlist button {
        padding: 13px;
        margin: 0 8px;
        font-size: 15px;
    }

    .icon1 {
        width: 1em;
        height: 1em;
        margin-right: 3px;
    }
}