.header {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    background: #000000;
    z-index: 4;
}

.nav{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
   
}

.navlist{
    display: flex;
    list-style: none;
    
}

.navlist button {
    cursor: pointer;
    padding: 20px;
    display: block;
    color: white;
    background: none;
    border: 0;
    margin: 0 10px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}



@media screen and (max-width: 922px) {

    .header {
      max-width: 100vw;
      align-content: space-around;
      margin-right: 3rem;
    }

}